<!-- Tab links -->
{% assign tabnames = page.tabs %}
  {% if tabnames %}
  <div class="tab-container">
    <div class="tab">
      {% for tabname in tabnames %}
        <button class="tablinks" onclick="openTab(event, 'tab{{ forloop.index }}')" {% if forloop.first %} id="defaultOpen" {% endif %}>{{ tabname }}</button>
      {% endfor %}
    </div>
  {% endif %}

  {% assign tabs = content | split: "TAB" %}
    <!-- Tab content -->
      {% for tab in tabs %}
        <div id="tab{{ forloop.index }}" class="tabcontent">
          {% assign columns = tab | split: "COLUMN" %}
                <div class="row">
                    {% for column in columns %}
                        <div class="slide-column">
                            {{ column }}
                        </div>
                    {% endfor %}
                </div>
        </div>
      {% endfor %}
  </div>

<script>
    // tabs

    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it

    document.getElementById("defaultOpen").click();
</script>
