---
layout: default
---

{% assign title = page.title | replace: "_", " " %}

<!DOCTYPE html>
<html>

    {{ content }}
    {% assign next = '' %}
    {% assign reversed = site.slide_order | reverse %}
    {% for slide in reversed %}
        {% if next == page.title %}
            <a href="{{ site.baseurl }}/slides/{{slide}}"><-</a>
            {% break %}
        {% endif %}
        {% assign next = slide | capitalize %}
    {% endfor %}

    {% assign prev = '' %}
    {% for slide in site.slide_order %}
        {% if prev == page.title %}
            <a href="{{ site.baseurl }}/slides/{{slide}}">-></a>
            {% break %}
        {% endif %}
        {% assign prev = slide | capitalize %}
    {% endfor %}

    Skip around:
    <ul>
        {% for slide in site.slide_order %}
            <li>
                <a href="{{ site.baseurl }}/slides/{{slide}}">{{slide}}</a>
            </li>
        {% endfor %}
    </ul>

    <p>Check out the code for the slides <a href="https://github.com/CreateUNSW/github-pages-workshop">here</a></p>
</html>
