---
layout: default
---

<!--
    This layout lets you have multiple columns, seperated by the "COLUMN" keyword.
    See Static_Slides.md for an example
-->

<script src="{{ site.baseurl }}/js/slide.js"></script>
<script src="{{ site.baseurl }}/js/menu.js"></script>
<a id="menu-icon">☰</a>
<div class="row">
    <div class="menu">
        {% include slide-nav.html %}
    </div>
    <div class="sidenav" id="slideMenu">
        <div class="row">
            <div class="mobile-logo">
                <img src="{{ site.baseurl }}{{ site.logo-neg }}" alt="Create logo">
            </div>
                <a id="closebtn">&times;</a>
        </div>
        {% include slide-nav.html %}
    </div>
    <div class="main-slide">
        {% assign title = page.slug | replace: "_", " " %}
        <h1>{{ title }}</h1>
        {% assign columns = content | split: "COLUMN" %}
        <div class="row">
            {% for column in columns %}
                <div class="slide-column">
                    {{ column }}
                </div>
            {% endfor %}
        </div>
        {% include slide-control.html %}
    </div>
</div>
