<!-- This layout lets you have multiple columns, seperated by the "COLUMN" keyword.
    See Static_Slides.md for an example -->

---
layout: default
---
<script src="{{ site.baseurl }}/js/slide.js"></script>
<script src="{{ site.baseurl }}/js/menu.js"></script>
<a id="menu-icon">☰</a>
<div class="row">
    <div class="menu">
        {% include slide-nav.html %}
    </div>
    <div class="sidenav" id="slideMenu">
        <div class="row">
            <div class="mobile-logo">
                <img src="{{ site.baseurl }}/images/logos/create-neg.png" alt="Create logo">
            </div>
                <a id="closebtn">&times;</a>
        </div>
        {% include slide-nav.html %}
    </div>
    <div class="main-slide">
        {% assign title = page.slug | replace: "_", " " %}
        <h1>{{ title }}</h1>
        {% assign columns = content | split: "COLUMN" %}
        <div class="row">
            {% for column in columns %}
                <div class="slide-column col">
                    {{ column }}
                </div>
            {% endfor %}

        </div>
        <!-- {{ content }} -->
        <div class="slide-control">
            {% assign next = '' %}
            {% assign reversed = site.data.slides | reverse %}
            {% for slide in reversed %}
                {% if next == page.slug %}
                    <a class="button" id="back" href="{{ site.baseurl }}/slides/{{slide}}"><i class="arrow left"></i></a>
                    {% break %}
                {% endif %}
                {% assign next = slide %}
            {% endfor %}

            {% assign prev = '' %}
            {% for slide in site.data.slides %}
                {% if prev == page.slug %}
                    <a class="button" id="forward" href="{{ site.baseurl }}/slides/{{slide}}"><i class="arrow right"></i></a>
                    {% break %}
                {% endif %}
                {% assign prev = slide %}
            {% endfor %}
        </div>
    </div>
</div>
